nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;

}

nav ul{
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}
nav li{
  cursor: pointer;
}